.footer_d {
    grid-area: footer;
    text-align: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    margin-bottom: auto;
    background: $backgoundColorFooter;
    svg{
         width: 16px;
         color: rgb(0, 0, 0);
         
    }
    img{
          position:fixed;
          width:80px;
          height:80px;
          line-height: 63px;
          bottom:25px;
          right:25px;
          background:#345dce;
          border-radius:50px;
          text-align:center;
          font-size:35px;
          box-shadow: 10px 1px 10px rgba(0,0,0,0.3);
          z-index:100;
          transition: all 300ms ease;
          display: inline-block;
          margin: 0 0.5rem;
          animation: bounce;
          animation-duration: 2s; 
        }    
}
