@media only screen and (max-width: 600px) {
      .card {color: rgb(0, 0, 0);}
      .card {width: 100%;}
}   
@media screen and  (orientation:landscape) and (max-width:768px){
      .card {color: black;}
      
}
