.fondovideo {
    background-color: rgba(0, 0, 0, 0.274);
    padding: 30px 0;
    h3 {
        font-family: $alfaSlab;
        font-size: 35px;
        color: $primaryColor;
        text-align: center;
        p{
            text-align: justify;
        }
    
        }
    }
    .video{
        width: 100%;
        border-radius: 30px;
        width: 16rem;
        margin-left: 40px;
    }
