.fondovideo {
    background-color: rgba(0, 0, 0, 0.274);
    padding: 30px 0;
    h3 {
        font-family: $alfaSlab;
        font-size: 35px;
        color: $primaryColor;
        text-align: center;
        }
    }
.textvideo{
    margin-left: 10px;
    text-align: justify;
}

    .video{
        width: 80%;
        border-radius: 30px;
        width: 15rem;
        margin-right: auto;
        margin-left: 50px;
    }
